.hero {
	&.hero-subscribe {
		padding: 10px 5px;
		h1 {
			font-size: 15px !important;
			letter-spacing: 1.2px;
			line-height: 1.7;
		}
	}
}
.subscribe-boxes {
	margin: 0;
	.subscribe-box {
		width: calc(100% - 20px) !important;
		padding: 0 0 10px!important;
		&:not(.active) a.nomadik-button {
			color: #fff !important;
		}
		&.active{
			z-index:9;
			box-shadow: none;
		}
	}
	.subscribe-box-row {
		display: flex;
		align-items: center;
	}
	.price-col {
		width: 47%;
		padding-right: 20px;
		.per {
			font-size: 14px;
			letter-spacing: 0;
			margin: 0;
		}
	}
	.describe-col {
		text-align: left;
		padding: 8px 0 0;
		width: 53%;
	}
	.subscribe-box-term {
		font-size: 16px;
		letter-spacing: 0;
		margin: 12px 0 0;
	}
	.subscribe-box-price {
		font-size: 26px;
		letter-spacing: 0;
	}
	.subscribe-box-frequency {
		font-style: normal;
		font-size: 12px;
		letter-spacing: 0;
	}
	.delivered {
		font-size: 12px;
		letter-spacing: 0;
		margin: 0 0 5px;
	}
	.retail-value {
		letter-spacing: 0;
		font-weight: 400;
	}
	a.add-to-cart {
		background-color: #4A632D !important;
		border-radius: 3px;
		border-radius: 3px;
		font-weight: 500;
		font-size: 13px;
		text-decoration: none;
		text-align: center;
		letter-spacing: 0;
		padding: 7px 0 !important;
		margin: 5px 0 0;
		width: calc(100% - 10px) !important;
	}
	.ironclad-sub-page {
		display: flex;
		align-items: center;
		justify-content: center;
		.iron-logo {
			max-width: 25px;
		}
		.iron-text {
			max-width: 50px;
		}
	}
}
.subscribe-box {
	&.one-month {
		border: 2px solid #D5D5D5 !important;
		margin-bottom: 0 !important;
		.banner {
			height: 0;
		}
	}
	&.six-months {
		border: 2px solid #CF6966 !important;
		margin: 10px 0 0 !important;
		z-index: 6;
	}
	&.twelve-months {
		border: 2px solid #6565A2 !important;
		margin: 10px 0 1rem !important;
	}
	.sub-border {
		top: -4px;
		left: -4px;
		width: calc(100% + 8px);
		height: calc(100% + 8px);
		&.active {
			z-index: 1 !important;
			border: none;
			box-shadow: none;
		}
	}
	.banner {
		height: 23px;
	}
	.star {
		width: 60px;
		height: 60px;
		img {
			position: absolute;
			width: 60px;
			height: 60px;
			max-width: 100%;
			top: -17px;
			right: -14px;
		}
		.star-text {
			font-size: 13px;
			letter-spacing: 0;
			width: 35px;
			right: -2px;
			top: -3px;
		}
	}
}
.twelve-months,
.six-months {
	.banner {
		letter-spacing: 0.5;
		font-size: 10px;
		padding: 6px;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}
}
.subscribe-list {
	text-align: left;
	ul {
		margin: 5px 0;
	}
	li {
		font-size: 11px;
		margin: 0 0 12px;
		padding: 0 15px 0 40px;
		letter-spacing: .2px;
		position: relative;
		&:before {
			content: '';
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAANCAYAAACgu+4kAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACtSURBVHgBnZFRCsIwDIaT7TC7Rp5lDEF88AwewnoGkR2hCPoi6KvzGLvMav+ySXUbbfe/JCH9fpKUaKFOuhREpgWqL9XBGFLMpDJK1AAj7zripAl82MbjfndX0QZTMHK3wnCQVNgZoJlz9kJMhZ0BDtE31b9JCIby561tVpuC7TnF1lJuC3pc23cMDH2PeNYV/rWfwDS2JSH4x2BsEobdCn7hrxMDz6rWa4l9+wGOMXLoy8jjOAAAAABJRU5ErkJggg==');
			position: absolute;
			left: 15px;
			top: calc(50% - 7px);
			height: 13px;
			width: 16px;
		}
	}
}
.tooltip-ico {
	position: absolute;
	&,
	.tooltip-icon {
		content: '';
		display: block;
		right: 15px;
		bottom: 18px;
		height: 18px;
		width: 18px;
		z-index: 99;
	}
	.tooltip-icon{
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHISURBVHgBlZPBK0RBHMe/M+89SlbKQYqyFyfyCAen3ZNysXKQk5TScnLxR7hLcqAcuCFycLF7Ey3vzMGSrBKppezbtzNmBpvdnfd291vT6/36zWe+85vfj0Cju/WhiGUYs+A8woFuFSRwCLiT5+QwvHBxUL6HlALsbtOwtsBJBAESm9J55kbDcSddAXpcs21uWmci1Ira9E48Hu1cunSKIOWEWtd1QIowj7kD0hmVfxZt0DqhDSE0906rZTR36ECtqhTS0cPGSEzY2i/PkBvbp3aUZdIYgpfN4OUojsJHphLHWJRSwie0R40ug7sfyOxN4nk3poAyphMRL2xyEBs++rw5Bstl1XJfb9RVtRJtYoJDC3o9XVFfubmpZxyNHYP4vD3Rc0SvmaiitrFVBcllrpBNbfrmUdlc1WC5pytVaHlFvbhDGUMyCPKVTsJ9uw1KASHUEY7odlBSQRb6KRWUgrznHdKu+HlCIBN+SaG+GbQMzvtCZGnCi6kDVWyvQOZMyrQj8nIch7/4e54Z0V/gjx7XhsXQoo6h5WJoURxa+heWAY8ZA7W8ouibpMz9g5Q4+i85f2CIiWNskdD/G74XgARhdFvVtUzfgkWtSext0UAAAAAASUVORK5CYII=');
	}
	&:not(.active){
		.bg-inside{
			display: none;
		}
	}
	&.active {
		background:none;
		position: fixed;
		top: 69px;
		left: 0;
		bottom: 0;
		right: 0;
		height: unset;
		width: unset;
		.tooltip-icon {
			display: none;
		}
		.bg-inside{
			position: fixed;
			top: 69px;
			left: 0;
			bottom: 0;
			right: 0;
			background: rgba(0, 0, 0, 0.4);
			z-index: 9;
			height: unset;
			width: unset;
		}
		.tooltip-inner {
			display: flex;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
.tooltip-inner {
	display: none;
	background: #fff;
	border-radius: 10px;
	padding: 35px 25px;
	position: absolute;
	top: 20px;
	right: 0;
	z-index: 99;
	max-width: 340px;
	width: calc(100vw - 50px);
	box-shadow: 0px 1px 4px 0 rgba(0,0,0,0.4);
	ul {
		margin: 0;
		font-size: 13px;
		text-align: left;
		li {
			color: #000;
			padding: 0 0 0 20px;
			position: relative;
			margin: 0 0 15px;
			letter-spacing: 0;
			&:last-child {
				margin: 0;
			}
			&:before {
				content: '';
				background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAALCAYAAABGbhwYAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEvSURBVHgBbVE7TsNAEJ3Z+ENFcgRzA3MDu6MAy1TIqWiDFNk5AeQECUIJJaKyRRMDKejiG+Ab4CNYNMiO2WHWEMkgRtrVaOe9N/NmETpxEx87iGgj4UCCzMbBOtvVUF2z+MgyUb8DYhhBLhFKRPC51K+odifBS4HfIGMDkq4vhs/zbodlchKxVlh9vB9qBuqX/JYq0OLBC4HgSoEEwHx09jRdJJ5l7O1HuEy8NyThkmhsILHqKn6SdDXQCkK5YSJYoyAtSAob/oQA4aiawrSKhq4521oeKOYvRSlPG2xy5UEQwX29bSJmZpxPiR2rw+Ym4+E6NYURImCGs5U/MCv5+p9rZQ4lRMpDu8fb2Ld+2pas+sjL7HNut3sFca7mxK4CExz+EYeQyh71cjXOrvYFuQiMTWoOpFoAAAAASUVORK5CYII=');
				position: absolute;
				left: 0;
				top: calc(50% - 5px);
				height: 11px;
				width: 10px;
				background-repeat: no-repeat;
			}
		}
	}
}
.tooltip-close {
	cursor: pointer;
	position: absolute;
	width: 14px;
	height: 14px;
	right: 12px;
	top: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	&:before, 
	&:after {
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		content: '';
		background-color: #b3b3b3;
		transition: all ease .25s;
		height: 20px;
		width: 1px;
	}
	&:before {
		transform: rotate(45deg);
	}
	&:after {
		transform: rotate(-45deg);
	}
	&:hover {
		&:before, 
		&:after {
			background-color: #000;
		}
	}
}
.checkout {
	.checkout__form{
		.checkout__title-inner{
			font-size: 12px !important;
			letter-spacing:3.4px !important;
		}
	}
}