.hero {
	.hero-subscribe {
	    padding: 10px 5px;
		h1 {
			font-size: 15px !important;
			line-height: 1.7;
		}
	}
}
.subscribe-boxes {
	margin: 0;
	.subscribe-box {
		width: calc(100% - 20px) !important;
		padding: 0 0 20px 0 !important;
		&:not(.active) a.nomadik-button {
			color: #fff !important;
		}
	}
	.subscribe-box-row {
		display: flex;
		align-items: center;
	}
	.price-col {
		width: 47%;
		padding-right: 20px;
		.per {
			font-size: 14px;
			letter-spacing: 0;
			margin: 0;
		}
	}
	.describe-col {
		text-align: left;
		padding: 8px 0 0;
		width: 53%;
	}
	.subscribe-box-term {
		font-size: 16px;
		letter-spacing: 0;
		margin: 12px 0 0;
	}
	.subscribe-box-price {
		font-size: 26px;
		letter-spacing: 0;
	}
	.subscribe-box-frequency {
		font-style: normal;
		font-size: 12px;
		letter-spacing: 0;
	}
	.delivered {
		font-size: 12px;
		letter-spacing: 0;
		margin: 0 0 5px;
	}
	.retail-value {
		letter-spacing: 0;
		font-weight: 400;
	}
	a.add-to-cart {
		background-color: #4A632D !important;
		border-radius: 3px;
		border-radius: 3px;
		font-weight: 500;
		font-size: 13px;
		text-decoration: none;
		text-align: center;
		letter-spacing: 0;
		padding: 7px 0 !important;
		margin: 5px 0 0;
		width: calc(100% - 10px) !important;
	}
	.ironclad-sub-page {
		display: flex;
		align-items: center;
		justify-content: center;
		& > img:first-child {
			max-width: 25px;
		}
		.iron-text {
			width: 50px;
		}
	}
}
.subscribe-box {
	&.one-month {
		border: 2px solid #D5D5D5 !important;
		.banner {
			height: 0;
		}
	}
}
