.ab-test-header {
  width: 100% !important;
  background: linear-gradient(180deg, #E9E9E9 0%, #DEDEDE 100%), #D9D9D9; }
  .ab-test-header .col-md-12 {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    padding: 0; }

.ab-test-menu {
  -webkit-overflow-scrolling: touch;
  margin: 0 auto;
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
  position: relative; }
  .ab-test-menu a {
    color: #231F20;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    justify-content: center;
    padding-left: 17px;
    padding-right: 17px; }
    .ab-test-menu a img {
      margin-right: 6px;
      width: 28px;
      height: 28px; }

span.test-menu-control {
  display: block;
  cursor: pointer;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 0; }

span.test-menu-control.control-next {
  right: 0; }

.search-toggle {
  background: none;
  border: none;
  color: transparent;
  width: 28px;
  height: 28px;
  float: right;
  margin-top: 19px; }

.submenu {
  display: none;
  position: absolute; }

#main_navbar .col-md-9.col-sm-6 {
  padding-top: 20px; }

.parent.has-sub .submenu-main-link + ul {
  display: none;
  position: absolute;
  top: auto;
  left: 0; }

.parent.has-sub .submenu-main-link:hover + ul {
  display: block; }

.parent.has-sub:hover > .submenu-main-link + ul {
  display: block; }

.search-and-menu {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.search-and-menu ul {
  display: flex;
  margin: 0;
  z-index: 99; }
  .search-and-menu ul li a {
    padding: 13px 17px 13px 17px;
    display: block;
    color: #fff;
    text-align: left; }
    .search-and-menu ul li a:hover {
      text-decoration: underline;
      color: #fff; }
  .search-and-menu ul li.has-sub a {
    padding-right: 30px; }
  .search-and-menu ul ul li {
    border: 1px solid #676767; }
    .search-and-menu ul ul li:hover a {
      color: #393939;
      background: #ddd !important;
      border-bottom: 1px solid rgba(150, 150, 150, 0.15) !important; }
    .search-and-menu ul ul li a {
      color: #393939;
      background: #ddd;
      border-bottom: 1px solid rgba(150, 150, 150, 0.15);
      padding: 11px 15px;
      width: 195px; }
  .search-and-menu ul ul .has-sub:after {
    border-top: 4px solid #393939; }
  .search-and-menu ul ul .has-sub:hover > ul {
    display: block; }
  .search-and-menu ul ul ul {
    right: auto;
    left: 100% !important;
    top: 0 !important; }
    .search-and-menu ul ul ul li:hover a {
      background-color: #f3f3f3; }
    .search-and-menu ul ul ul li a {
      background-color: #f3f3f3; }

.search-and-menu .right-menu ul > li:hover a {
  display: block; }

.search-and-menu .right-menu ul ul {
  display: none;
  flex-direction: column; }

@media (max-width: 767px) {
  #header #main_navbar #mobile-search:not(.active) {
    display: none !important; } }

.ab-test-header {
  padding: 0;
  position: relative; }
  .ab-test-header .at-wraper {
    padding: 0;
    position: relative; }

span.test-menu-control {
  display: block;
  cursor: pointer;
  width: 21px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  z-index: 99;
  height: 100%; }

span.test-menu-control.control-next {
  right: 0; }
  span.test-menu-control.control-next:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 12px;
    height: 12px;
    transform: translate(0%, -50%) rotate(-45deg); }

span.test-menu-control.control-prev:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  display: block;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  width: 12px;
  height: 12px;
  float: right;
  transform: translate(0%, -50%) rotate(-45deg); }
