.header {
	.container {
		overflow: hidden;
	}
}
.wrap-content {
	.common-hero {
		justify-content: flex-start;
		text-align: left;
		.common-hero__title {
			font-size: 53px;
			padding-bottom: 10px;
			@media (max-width: 1999px) {
				font-size: 40px;
			}
			br {
				display: none;
			}
		}
		.common-hero__subtitle {
			font-size: 18px;
			font-weight: 300;
			max-width: 420px;
			padding: 0 0 65px;
		}
		.sk-subtitle {
			display: none;
		}
		.common-hero__content-text {
			font-size: 24px;
			max-width: 500px;
			padding-bottom: 10px;
			@media (max-width: 1999px) {
				font-size: 18px;
			}
			// @media (min-width: 2000px) {
			// 	padding-top: 115px;
			// }
			@media (min-width: 1080px) {
				padding-top: 190px;
				padding-bottom: 18px;
				font-weight: 300;
			}
		}
		.common-hero__content-wrap {
			// @media (min-width: 2000px) {
			// 	padding-top: 115px;
			// }
			@media (min-width: 1080px) {
				padding-top: 150px;
				font-weight: 300;
			}
		}
		.common-hero__labeled-btn-wrap {
			.common-hero__upgrade {
				font-size: 14px;
				font-weight: 300;
			}
		}
		.plugins__logo {
			display: inline-block;
			max-height: 31px;
			+ .plugins__logo {
				margin-left: 15px;
			}
			img {
				max-width: 31px;
				max-height: 31px;
			}
			+ .common-hero__upgrade {
				font-weight: 300;
			}
		}
		.common-hero__btns-wrap {
			justify-content: flex-start;
			& > * {
				margin: 0;
				// width: 100%;
				// a {
				// 	width: 100%;
				// }
			}
		}
		.common-hero__labeled-btn-wrap {
			margin-left: 22px;
		}
	}
	.common-hero__video-in {
		top: 406px;
	}
	.hero-bg {
		& > .sk-section_bg_dark {
			display: none;
		}
	}
}

.mouse_down {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border: 1px solid #FFF;
	box-sizing: border-box;
	border-radius: 20px;
	z-index: 3;
	height: 62px;
	width: 34px;
	@media (max-width: 1999px) {
		height: 47px;
		width: 26px;
	}
	.mouse_wheel {
		background: #FFF;
		 display: block;
		border-radius: 50%;
		margin: 0 auto;
		position: relative;
		top: 8px;
		height: 8px;
		width: 8px;
		animation: MoveUpDown 1.5s linear infinite;
		@media (max-width: 1999px) {
			height: 6px;
			width: 6px;
		}
	}
}
@keyframes MoveUpDown {
	0%, 100% {
		top: 8px;
	}
	50% {
		top: 16px;
	}
}

// top navigation 
.sticky_nav_wrap {
	overflow: hidden;
	width: 100%;
	background-color: #000;
	position: relative;
	height:50px;
	.next-slide, .prev-slide {
		width: 125px;
		height: 50px;
		position: absolute;
		top: 0;
		color: white;
		text-align: center;
		line-height: 3em;
		cursor: pointer;
		transition: background .3s ease-in-out, left .3s ease-in-out, right .3s ease-in-out;
		-webkit-transition: background .3s ease-in-out, left .3s ease-in-out, right .3s ease-in-out;
		-moz-transition: background .3s ease-in-out, left .3s ease-in-out, right .3s ease-in-out;
		z-index: 2;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		// display: none;
		// @media (max-width: 1440px) {
		// 	display: block;
		// }
		&:before {
			content: '';
			background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAANCAYAAACUwi84AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADPSURBVHgBbVHLEYIwEN2NeLcEStAS7EAqUM8OQnTGq3hXMhC9W4Id0AIdSAkUAKwLCPLxnZJ5v+wG/VC/gYF5tpBSpjCAAKpok8Q0UkrNRgIssiUQJYAwLyZTNRJwbNKIEGBzC++qX8EoRVkhLD6mLHJ9/Tj3BCVOchfnOVnVhchrRDjsvAb6KRDX9WS4ED1S61VDEtFFcmqbwCPOaWJE7JuV5NGxvbaCSfNLmmwNDo7tNkbskgj0knvb6tYaPyfEUGTb4aONetVULsv69xcfBINgIeoK4wIAAAAASUVORK5CYII=");
			background-repeat: no-repeat;
			position: absolute;
			top: 17px;
			height: 15px;
			width: 10px;
			z-index: 1;
		}
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(270deg, #05080B 0%, #05090C 40.1%, rgba(5, 8, 11, 0) 100%);
			height: 100%;
			width: 100%;
		}
	}
	.next-slide {
		right: -50px;
		&:before {
			right: 20px;
		}
	}
	.prev-slide {
		left: -50px;
		&:before {
			transform: rotate( 180deg );
			left: 20px;
		}
		&:after {
			transform: rotate(180deg);
		}
	}
	.sticky_nav_container {
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
		left: 0;
		height: 50px;
		transition: left .3s ease-in-out;
		-webkit-transition: left .3s ease-in-out;
		-moz-transition: left .3s ease-in-out;

		display: flex;
		align-items: center;
		justify-content: space-between;
		li {
			font-size: 14px;
			line-height: 1.5;
			color: #8E9294;
			// background-color: #000;
			// margin: 0 !important;
			list-style: none;
			padding: 0 30px;
			height: 100%;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			cursor: pointer;
			position: relative;
			z-index: 1;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

			display: flex;
			align-items: center;
			justify-content: center;
			white-space: nowrap;
			@media (min-width: 2000px) {
				font-size: 17px;
			}
			@media (min-width: 1080px) {
				font-size: 13px;
			}
			&:hover {
				opacity: 0.6;
			}
		}
	}
}