.wrapper {
	// overflow: hidden;
}
.header {
	.container {
		// overflow: hidden;
	}
}
.wrap-content {
	overflow: hidden;
	.common-hero {
		justify-content: flex-start;
		text-align: left;
		padding-top: 93px;
		height: 145vh;
		@media (max-height: 800px) {
			padding-top: 92px;
		}
		@media (max-height: 900px) {
			padding-top: 84px;
		}
		.row {
			.col-md-6 {
				&:first-child {
					@media (min-width: 1680px) {
						padding-left: 175px;
					}
				}
				&:last-child {
					@media (min-width: 1680px) {
						padding-left: 68px;
					}
				}
			}
		}
		.common-hero__title {
			font-size: 53px;
			padding-bottom: 10px;
			@media (max-width: 1999px) {
				font-size: 40px;
			}
			br {
				display: none;
			}
		}
		.sk-subtitle {
			display: none;
		}
		// .common-hero__subtitle {
		// 	font-size: 20px;
		// 	font-weight: 300;
		// 	max-width: 450px;
		// 	padding: 0 0 48px;
		// 	line-height: 1.3;
		// 	display: block;
		// 	@media (max-height: 900px) {
		// 		padding: 0 0 28px;
		// 	}
		// }
		.common-hero__sub-title {
			font-size: 20px;
			font-weight: 300;
			max-width: 450px;
			margin: 0;
			padding: 0 0 48px;
			line-height: 1.3;
			display: block;
			@media (max-height: 900px) {
				padding: 0 0 28px;
			}
		}
		.common-hero__content-text {
			font-size: 24px;
			max-width: 500px;
			padding-bottom: 10px;
			font-size: 18px;
			line-height: 1.3;
			@media (max-width: 1679px) {
				padding-left: calc(100% - 500px);
				max-width: 100%;
			}
			@media (min-width: 1080px) {
				padding-top: 35px;
				padding-bottom: 12px;
				font-weight: 300;
			}
			@media (min-width: 2000px) {
				font-size: 23px;
			}
		}
		.common-hero__content-wrap {
			@media (min-width: 1080px) {
				font-weight: 300;
				padding: 0;
			}
		}
		.common-hero__labeled-btn-wrap {
			.common-hero__upgrade {
				font-size: 14px;
				font-weight: 300;
				padding-top: 9px;
			}
		}
		.outhtml_logo {
			@media (max-width: 1679px) {
				padding-left: calc(100% - 500px);
			}
		}
		.plugins__logo {
			display: inline-block;
			max-height: 31px;
			margin-bottom: 38px;
			@media (max-height: 900px) {
				margin-bottom: 20px;
			}
			+ .plugins__logo {
				margin-left: 15px;
			}
			img {
				max-width: 31px;
				max-height: 31px;
			}
		}
		.outhtml_logo {
			& + .common-hero__upgrade {
				font-weight: 300;
				@media (max-width: 1679px) {
					padding-left: calc(100% - 500px);
				}
			}
		}
		.common-hero__btns-wrap {
			justify-content: flex-start;
			& > * {
				margin: 0;
			}
			.sk-btn_type_clean-border {
				padding: 13px 46px;
			}
		}
		.common-hero__labeled-btn-wrap {
			margin-left: 18px;
		}
	}
	.common-hero__video-in {
		top: 406px;
	}
	.hero-bg {
		& > .sk-section_bg_dark {
			display: none;
		}
	}
}
.mouse_down {
	position: absolute;
	top: calc(100vh - 110px - 47px - 23px);
    bottom: auto;
	// bottom: 25px;
	left: 0;
	right: 0;
	margin: auto;
	border: 1px solid #FFF;
	box-sizing: border-box;
	border-radius: 20px;
	z-index: 3;
	height: 62px;
	width: 34px;
	@media (max-width: 1999px) {
		height: 47px;
		width: 26px;
	}
	@media (max-width: 1400px) {
		// bottom: 50px;
	}
	@media (max-width: 1300px) {
		// bottom: 65px;
	}
	.mouse_wheel {
		background: #FFF;
		display: block;
		border-radius: 50%;
		margin: 0 auto;
		position: relative;
		top: 8px;
		height: 8px;
		width: 8px;
		animation: MoveUpDown 1.5s linear infinite;
		@media (max-width: 1999px) {
			height: 6px;
			width: 6px;
		}
	}
}
@keyframes MoveUpDown {
	0%, 100% {
		top: 8px;
	}
	50% {
		top: 16px;
	}
}

// top navigation 
.sticky_nav_wrap {
	overflow: hidden;
	background-color: #000;
	// position: relative;
	height:50px;
	width: 100%;
	transition: all 0.25s ease-in-out;
	margin-top: 60px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;
	.by-btn-js {
		display: none;
		font-size: 13px;
		min-width: 107px;
		margin-right: 5px;
		padding: 3px 5px;
		position: absolute;
		top: 11px;
		right: 0;
	}
	&.sticky-scroll {
		// position: fixed;
		// margin-top: 0;
		// top: 0;
		// left: 0;
		// position: sticky;
		.by-btn-js {
			display: inline-block;
		}
		.sticky_nav_container {
			// width: calc(100% - 120px);
			overflow: hidden;
		}
		.slide-wraper-js {
			width: calc(100% - 120px);
		}
		.slide-wraper-wrap-js {
			// flex: 0 0 calc(100% - 120px);
			&.scroller {
				// flex: 0 0 calc(100% - 220px);
				width: calc(100% - 220px);
			}
		}
		& ~ .sticky_dot_wrap {
			top: calc(50px + ((100vh - 50px - 690px) / 2));
			@media (max-width: 1899px) {
				top: calc(50px + ((100vh - 50px - 598px) / 2));
			}
			@media (max-width: 1399px) {
			    top: calc(50px + ((100vh - 50px - 460px) / 2));
			}
		}
	}
	.next-slide, .prev-slide {
		width: 50px;
		height: 50px;
		flex: 0 0 50px;
		display: inline-block;
		position: relative;
		color: #fff;
		text-align: center;
		line-height: 3em;
		cursor: pointer;
		transition: background .3s ease-in-out, left .3s ease-in-out, right .3s ease-in-out;
		-webkit-transition: background .3s ease-in-out, left .3s ease-in-out, right .3s ease-in-out;
		-moz-transition: background .3s ease-in-out, left .3s ease-in-out, right .3s ease-in-out;
		z-index: 10;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		&:before {
			content: '';
			background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAANCAYAAACUwi84AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADPSURBVHgBbVHLEYIwEN2NeLcEStAS7EAqUM8OQnTGq3hXMhC9W4Id0AIdSAkUAKwLCPLxnZJ5v+wG/VC/gYF5tpBSpjCAAKpok8Q0UkrNRgIssiUQJYAwLyZTNRJwbNKIEGBzC++qX8EoRVkhLD6mLHJ9/Tj3BCVOchfnOVnVhchrRDjsvAb6KRDX9WS4ED1S61VDEtFFcmqbwCPOaWJE7JuV5NGxvbaCSfNLmmwNDo7tNkbskgj0knvb6tYaPyfEUGTb4aONetVULsv69xcfBINgIeoK4wIAAAAASUVORK5CYII=");
			background-repeat: no-repeat;
			position: absolute;
			top: 17px;
			height: 15px;
			width: 10px;
			z-index: 1;
		}
		&:after {
			content: '';
			background: linear-gradient(270deg, #05080B 0%, #05090C 40.1%, rgba(5, 8, 11, 0) 100%);
			width: 35px;
			height: 50px;
			position: absolute;
			top: 0;

			opacity: 0;
			z-index: -9;
		}
	}
	.next-slide {
		right: 0px;
		&:before {
			right: 20px;
		}
		&:after {
			right: 50px;
		}
		&:hover {
			background: rgba(255, 255, 255, 0.16);
			background: #4b4b4b;
			&:before {
				background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDkgMTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjc0NTEyIDAuMDQ0NDMzNkw4LjIwMDY4IDYuNUwxLjc0NTEyIDEyLjk1NTZMMC4yMTUzMzIgMTEuNDE5NEw1LjEzNDc3IDYuNUwwLjIxNTMzMiAxLjU4MDU3TDEuNzQ1MTIgMC4wNDQ0MzM2WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==");
			}
		}
	}
	.prev-slide {
		left: 0px;
		opacity: 0;
		z-index: -1;
		&.visible {
			opacity: 1;
			z-index: 10;
		}
		&:before {
			transform: rotate( 180deg );
			left: 20px;
		}
		&:after {
			left: 50px;
			transform: rotate(180deg);
		}
		&:hover {
			background: rgba(255, 255, 255, 0.16);
			background: #4b4b4b;
			&:before {
				background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDkgMTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjc0NTEyIDAuMDQ0NDMzNkw4LjIwMDY4IDYuNUwxLjc0NTEyIDEyLjk1NTZMMC4yMTUzMzIgMTEuNDE5NEw1LjEzNDc3IDYuNUwwLjIxNTMzMiAxLjU4MDU3TDEuNzQ1MTIgMC4wNDQ0MzM2WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==");
			}
		}
	}
	.sticky_nav_container {
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
		left: 0;
		height: 50px;
		transition: left .3s ease-in-out;
		-webkit-transition: left .3s ease-in-out;
		-moz-transition: left .3s ease-in-out;

		display: flex;
		align-items: center;
		justify-content: space-between;
		li {
			font-size: 14px;
			line-height: 1.5;
			color: #8E9294;
			list-style: none;
			padding: 0 30px;
			height: 100%;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			cursor: pointer;
			position: relative;
			z-index: 1;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

			display: flex;
			align-items: center;
			justify-content: center;
			white-space: nowrap;
			transition: color .25s ease-in-out, opacity .25s ease-in-out;
			&:after {
				content: '';
				background-color: #009527;
				position: absolute;
				left: 32px;
				bottom: 0;
				height: 2px; 
				width: calc(100% - 64px);
				opacity: 0;
			}
			@media (min-width: 2000px) {
				font-size: 17px;
			}
			@media (min-width: 1080px) {
				font-size: 13px;
			}
			&:hover,
			&.active {
				color: #FFF;
				&:after {
					opacity: 1;	
				}
			}
			&.active {
				&.hidden_active {

					color: #8e9294;
					&:after {
						opacity: 0;
					}

				}
			}
		}
	}
}
.sticky_dot_wrap {
	position: fixed;
	right: 20px;
	top: calc(110px + ((100vh - 110px - 690px) / 2));
	z-index: 9;
	@media (max-width: 1899px) {
		top: calc(110px + ((100vh - 110px - 598px) / 2));
	}
	@media (max-width: 1399px) {
	    top: calc(110px + ((100vh - 110px - 460px) / 2));
	}
	li {
		border-radius: 50%;
		border: 1px solid #fff;
		display: block;
		margin: 0 0 20px;
		height: 10px;
		width: 10px;
		pointer-events: none;
		@media (max-width: 1899px) {
			margin: 0 0 16px;
		}
		@media (max-width: 1399px) {
			margin: 0 0 10px;
		}
		&.active {
			background-color: #fff;
		}
	}
}
.fix-menu.sk-grid.preload.active{
	display: none;
}

.slide-wraper-js {
	display: flex;
	overflow: hidden;
	// width: calc(100% - 140px);
	.slide-wraper-wrap-js {
		position: relative;
		flex: 0 0 100%;
    	overflow: hidden;
    	height: 50px;
    	&.scroller{
    		flex: 0 0 calc( 100% - 100px);
    		width: calc( 100% - 100px);
    	}
	}
	.sticky_nav_container {
		z-index: 9;
	}
}
.btn-info-label__wr {
	.info-label-tooltip {
		@media (max-width: 1550px) {
			min-width: 350px;
			font-size: 16px;
			padding: 15px;
		}
		@media (max-width: 1400px) {
			font-size: 14px;
		}
	}
}

.tools-ai-enhance_second {
	height: 60vh;
    position: absolute;
    width: 100%;
    bottom: 0;
}

@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
   // IE9+ CSS
	.sticky_nav_wrap {
		.next-slide {
			position: absolute;
			right: 0;
			background-color: #000000;
		}
		&.sticky-scroll {
			position: fixed;
			margin-top: 0;
			top: 0;
			left: 0;
			.next-slide {
				right: 120px;
			}
		}
	}
	.sticky_nav_container {
		width: 1882px;
	}
}
// IE10+
 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.sticky_nav_wrap {
		.next-slide {
			position: absolute;
			right: 0;
			background-color: #000000;
		}
		&.sticky-scroll {
			position: fixed;
			margin-top: 0;
			top: 0;
			left: 0;
			.next-slide {
				right: 120px;
			}
		}
	}
	.sticky_nav_container {
		width: 1882px;
	}
 }
