.exit_popup_container {
	position: fixed;
	background: #fff;
	top: calc(50% - 260px);
	left: 0;
	right: 0;
	max-width: 561px;
	border-radius: 16px;
	overflow: hidden;
	margin: auto;
	z-index: 99999;
	&.few_items {
		top: calc(50% - 314px);
		.modal-item-wrap {
			padding: 0;
			margin: 25px auto 28px;
			border-bottom: 1px solid rgba(92, 92, 92, 0.2);
		}
		.modal-item {
			height: 90px;
			padding-left: 27px;
			overflow: hidden;
			&:first-child {
				margin: -9px 0 0;
			}
			.slide_title_wrap {
				padding: 0 0 0 29px;
			}
		}
	}
	.product-thumbnail__image {
		position: relative;
		margin: 0;
	}
}
.exit_popup_container,
.exit_popup_overlay{
	display: none;
}
.exit_popup_overlay.active,
.exit_popup_container.active{
	display: block;
}
.exit_popup_overlay {
	position: fixed;
	z-index: 99998;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.65);
	transition: all ease .4s;
}
.exit_popup {
	text-align: center;
	.modal__body {
		padding: 38px 0 15px;
	}
	.modal_title {
		font-weight: 700;
		font-size: 22px;
		text-transform: uppercase;
		color: #2F2F2F;
		padding: 0 18px 8px;
		letter-spacing: 0.7px;
		// font-family: 'Montserrat', sans-serif;
		line-height: 1;
		margin: 0;
	}
	.modal_subtitle {
		font-weight: 700;
		font-size: 17px;
		text-transform: uppercase;
		color: #2F2F2F;
		padding: 0 18px;
		letter-spacing: 0;
		// font-family: 'Montserrat', sans-serif;
		line-height: 1.15;
		margin: 0;
	}
	.modal_slider_wrap {
		// margin: 22px 0 15px;
		margin: 22px 0 0;
		@media (max-width: 340px) {
			margin: 15px 0 15px;
		}
	}
	.modal_slider {
		&.swiper-container-initialized {
			// .slider_tooltip_box {
			// 	opacity: 0;
			// 	left: -45px;
			// 	right: auto;
			// }
			// .swiper-slide-active {
			// 	.slider_tooltip_box {
			// 		opacity: 1;
			// 	}
			// }
		}
		.swiper-pagination-bullet  {
			height: 5px;
			width: 5px;
			margin: 0 5px;
		}
		.swiper-pagination-bullet-active {
			background: #5C5C5C;
		}
		.swiper-slide {
			// padding-top: 70px;
			padding-top: 10px;
			& > a {
				display: block;
				max-width: 100px;
				margin: 0 auto;
				pointer-events: none;
			}
			& > .product-thumbnail__image {
				position: relative;
				display: block;
				max-width: 100px;
				margin: 0 auto;
			}
		}
		.slide_title {
			color: #2F2F2F;
			font-size: 12px;
			letter-spacing: 0.055em;
			text-transform: uppercase;
			font-weight: 700;
			// margin-bottom: 10px;
			margin-bottom: 5px;
			// font-family: Playfair Display,serif;
			line-height: 1.15;
		}
		.slide_size {
			color: #5C5C5C;
			font-size: 12px;
			margin-bottom: 5px;
			letter-spacing: 0;
		}
		.slide_price {
			color: #2F2F2F;
			font-size: 14px;
			letter-spacing: 0;
			font-family: Montserrat,sans-serif;
			line-height: 1.15;
			font-weight: 400;
			padding: 18px 11px 0 0;
		}
	}
	.slider_tooltip_box {
		margin: 0 0 15px;
		padding: 14px 10px 13px;
		background-color: #f8f8f8;
		color: #2f2f2f;
		text-align: center;
		border: 1px solid #000;
		font-weight: 700;
		font-size: 14px;
		transition: opacity 0.25s;
		margin: 0 auto;
		max-width: 470px;
		font-family: 'Montserrat', sans-serif;
		letter-spacing: 0.6px;
		line-height: 1.15;
		box-sizing: border-box;
		position: relative;
		&:after, 
		&:before {
			content: '';
			margin-left: -13px;
			position: absolute;
			left: 50%;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0px 10px 10px;
			transform: rotate(180deg);
		}
		&:before {
			bottom: -10px;
			border-color: transparent transparent #000;
		}
		&:after {
			bottom: -9px;
			border-color: transparent transparent #f8f8f8;
		}
	}
	.modal_content {
		border: 2px solid #2e6e49;
		position: relative;
		margin: 0 auto;
		max-width: 470px;
		&:after {
			content: '';
			background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFUSURBVHgB7VTRcYJAEN2DFGAJZwNACbGC0IF2oKkg2gFUEFNBkgpMOjg6oIPQAJC3ujh4g3CiM/74Zm64XfbeW3aXI3rg3lA0ElEU6bqu37F9xsqVUq/GmC87zqPxiIWcsReD6MQOeiIH8MFWtoR9gmw3QRBoZL6UsElZliy6vVigqqoERHFjY78GufI8bw2xOZOz3/f93D7rVCIQzrt8+IoCWyP2B+yfUQJnUAhxijUD+aIryEkAZUhtH2csTd0LdTXYWUBqnQpZM5IJerOEfyfrLwxDniR9kgiNhPUftJFnWTZtDOcxxSNGxpoOX8SNNSCa4d0CQm+wtYTr9lk1RMxlQElWJKNoYYt3G95wmRpyCB95e3uAQ58882fIGZz9Dv3I8fztChhqsqZh9MZc8x844WYCaPwK5ZzyavudpsgFcm0Utr9XgK8BNO9lIOabHrgG/9ETkAckdD4VAAAAAElFTkSuQmCC");
			background-repeat: no-repeat;
			background-color: #fff;
			position: absolute;
			top: -14px;
			left: 0;
			right: 0;
			margin: 0 auto;
			height: 28px;
			width: 30px;
		}
		p {
			font-weight: 700;
			font-size: 13px;
			line-height: 1.4;
			letter-spacing: 0;
			color: #2F2F2F;
			padding: 13px 0;
			margin: 0;
			// font-family: Montserrat,sans-serif;
			@media (max-width: 340px) {
				font-size: 12px;
			}
		}
	}

	.modal_btn {
		background: #2e6e49;
		text-transform: uppercase;
		color: #fff;
		font-weight: 700;
		font-size: 14px;
		padding: 25px 0;
		display: block;
		width: 100%;
		letter-spacing: 0;
		font-family: 'Montserrat', sans-serif;
		margin: 0 auto 44px;
		max-width: 470px;
		line-height: 1;
	}
}
.modal_close {
	cursor: pointer;
	position: absolute;
	width: 50px;
	height: 50px;
	right: 1px;
	top: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	&:before, 
	&:after {
		position: absolute;
		// left: 7px;
		left: 0;
		right: 0;
		margin: auto;
		content: '';
		background-color: #b3b3b3;
		transition: all ease .25s;
		height: 20px;
		width: 1px;
	}
	&:before {
		transform: rotate(45deg);
	}
	&:after {
		transform: rotate(-45deg);
	}
	&:hover {
		&:before, 
		&:after {
			background-color: #000;
		}
	}
}
.stop_scroll {
	overflow: hidden !important;
}
@media screen and (max-height:510px) and (orientation:landscape) {
	.exit_popup_container {
		top: 0;
		height: 100%;
	}
	.exit_popup {
		overflow: scroll;
		height: 100%;
		.modal_content {
			p {
				font-size: 12px;
				line-height: 1.2;
			}
		}
	}
}


/* Chrome only: */
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) and (max-height:510px) and (orientation:landscape) {
	.exit_popup {
		height: 100%;
		.modal_content {
			p {
				font-size: 12px;
				line-height: 1.2;
			}
		}
	}
}



.modal-item-wrap {
	max-height: 230px;
	overflow-y: auto;
    max-width: 470px;
    padding: 5px 25px 0;
	margin: 0 auto;
}
.modal-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	.item-info-wrap {
		display: flex;
		align-items: center;
		img {
			max-height: 90px;
			max-width: 60px;
		}
	}
	a[rv-href] {
		display: inline-block;
		width: 110px;
	}
	.slide_title_wrap {
		padding: 0 0 0 20px;
		text-align: left;
	}
}

.exit_popup_container {

}
.hidden-popup {
	display: none !important;
}


@media screen and (max-height:640px) {
	.exit_popup {
		.modal__body {
			padding: 25px 0 15px;
		}
		.modal_btn {
			margin: 0 auto 24px;
			padding: 20px 0;
		}
		.modal_slider_wrap {
			margin: 15px 0 0;
		}
		.modal-item-wrap {
			max-height: 190px;
		}
	}
	.exit_popup_container.few_items {
		top: calc(50% - 270px);
	}
}