@media (min-width: 768px) {

}

.modal_time_delay {
	.signup-user__login._login {
		display: none;
	}
	&.modal_time_delay_hide {
		display: none;
	}
	.modal__dialog {
		background: #fff;
		border-radius: 16px;
	}
	.modal__body {
		padding: 0;
	}
	.modal_body {
		color: #3C3C3C;
		font-size: 16px;
		font-family: Arial,Helvetica,sans-serif;
		text-align: center;
		width: 100%;
	}
	.modal_title {
		font-size: 26px;
		font-weight: 700;
		margin: 0 0 3px;
	}
	.sub_modal_title {
		font-size: 22px;
		font-weight: 700;
		margin: 0 0 23px;
	}
	.modal_body_title {
		margin: 0;
		font-size: 16px;
	}
	.modal_italic {
		font-size: 20px;
		font-style: italic;
		margin: 0;
	}
	.modal_bold {
		font-size: 20px;
		font-weight: 700;
		margin: 0 0 10px;
	}

	.modal_list {
		list-style-type: none;
		text-align: left;
		max-width: 220px;
		padding: 0;
		margin: 30px auto 40px;
		li {
			position: relative;
			padding-left: 17px;
			margin: 0 0 22px;
			font-size: 16px;
			&:before {
				content: '';
				position: absolute;
				top: 3px;
				left: 0;
				background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAYAAACALL/6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABuSURBVHgBtZDRCYAwDESbTOR3WzKDG+gm1kl0BIfIIi4STT4KiohBaOBKKO/CJSG0KCIaUkqL9eiBRWQFgD144JzzoSr/Yf2YTN7JqPksW6mmmlnbmZkfBrAnxjgiol1hU/Vv8K3M5F7wYuq+mBP5WS7NGTLKGQAAAABJRU5ErkJggg==');
				height: 9px;
				width: 11px;
			}
		}
	}
	.social_holder {
		.signup-user__right {
			width: 100%;
			padding: 0;
			.signup-user__title,
			.signup-user__login {
				display: none;
			}
		}

	}


	// new
	.modal__close-round {
		right: -41px;
	}
	.modal__header {
		position: relative;
		margin-left: 48px;
		width: calc(100% - 96px);
		padding: 40px 0 0;
	}
	.signup-user__header {
		width: 100%;
	}
	.modal_text_holder {
		text-align: center;
	}
	.signup-user_preview {
		position: static;
		.signup-user__left {
			display: none;
		}
		.signup-user__right {
			width: 100%;
		}
		.signup-user__header {
			padding: 0; 
		}
	}
	.signup-user__right {
		width: 100%;
	}

	.signup-user__title {
		display: none;
	}

	.signup-user_modal {
		display: flex;
		flex-wrap: wrap;
	}
	.signup-user-box__social-btn {
		font-size: 12px;
		&:before {
			 margin-right: 5px;
		}
	}

	&.modal_time_delay_other {
		.modal__header {
			padding: 0;
		}
		.modal_body {
			padding: 40px 0 0;
		}
	}

	// home page
	.featured {
		min-height: 100px;
		position: static;
		.featured__snippet-box {
			&._snippet {
				display: none;
			}
		}
	}
	.featured-signup {
		padding-top: 0;
		position: static;
		// width: calc(100% - 70px);
		width: calc(100% - 40px);
		margin: 0 auto;
		.signup-user__right {
			.signup-user__sub-title {
				display: none;
			}
		}
	}

	//product page
	.signup-user_file-view {
		position: static;
		.signup-user__back {
			position: absolute;
			top: 7px;
			left: 7px;
			margin: 0;
		}
	}
	.signup-user__right {
		position: static;
	}
	
}

.content-type-page__featured {
	min-height: 415px;
}
.file-view-upgrade {
	.file-view-upgrade__purchase-box {
		min-height: 267px;
	}
}