.proposition_area .proposition_lead {
  flex-wrap: nowrap; }
  .proposition_area .proposition_lead .proposition_button {
    width: 90px; }
    .proposition_area .proposition_lead .proposition_button:first-child {
      display: none; }
    @media (min-width: 360px) {
      .proposition_area .proposition_lead .proposition_button {
        width: 120px;
        max-width: 120px; } }
    .proposition_area .proposition_lead .proposition_button .button {
      padding: 9px 0; }
    .proposition_area .proposition_lead .proposition_button .svg {
      margin-right: 3px;
      font-size: 11px; }

.proposition_area .proposition_price {
  width: calc(100% - 213px); }

.proposition_area .proposition_button_credit {
  color: #79BE00;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  border: 1px solid #79BE00;
  border-radius: 5px;
  background: rgba(121, 190, 0, 0.07);
  padding: 2px 2px;
  text-align: center;
  margin: 0 3px 0 0;
  width: 120px; }
  .proposition_area .proposition_button_credit .size13 {
    font-size: 12px; }

.proposition_lead--buttons .proposition_button + .proposition_button {
  width: 90px; }

.ab_test_modal {
  background: rgba(65, 64, 66, 0.5); }
  .ab_test_modal .react_modal__container {
    border: 0;
    margin: 0 auto;
    top: 15px;
    background: transparent;
    box-shadow: none;
    width: calc(100% - 28px) !important;
    max-width: 880px !important; }
  .ab_test_modal .react_modal__header {
    font-size: 0;
    z-index: 9; }
  .ab_test_modal .react_modal__close {
    top: 23px;
    right: 5px;
    left: auto;
    font-size: 30px;
    padding: 10px 0;
    color: #A0A0A0;
    text-shadow: none; }
    .ab_test_modal .react_modal__close:before {
      display: none; }
  .ab_test_modal .react_modal__body {
    background-color: #fff;
    padding: 30px;
    display: flex; }
  .ab_test_modal .modal_photo-car {
    display: flex;
    align-items: center;
    width: 432px; }
    .ab_test_modal .modal_photo-car img {
      width: 100%; }
  .ab_test_modal .phones_modal_wrap {
    padding: 0 0 0 25px;
    width: calc(100% - 432px); }
  .ab_test_modal .phones_modal__item {
    text-align: center; }
  .ab_test_modal .modal_title {
    color: #414042;
    font-weight: 700;
    padding: 0 0 15px;
    line-height: 1.2;
    font-size: 20px;
    margin-left: -10px;
    margin-right: -10px; }
    .ab_test_modal .modal_title p {
      margin: 0; }
  .ab_test_modal .be_carefull {
    display: none; }
  .ab_test_modal .text_devider {
    color: #414042;
    font-size: 16px;
    position: relative;
    padding: 10px 0 9px; }
    .ab_test_modal .text_devider:before, .ab_test_modal .text_devider:after {
      content: '';
      background-color: #9B9B9B;
      height: 1px;
      width: 40px;
      position: absolute;
      top: 20px; }
    .ab_test_modal .text_devider:before {
      left: calc(50% - 73px); }
    .ab_test_modal .text_devider:after {
      right: calc(50% - 73px); }
    .ab_test_modal .text_devider p {
      margin: 0; }
  .ab_test_modal .sub_title {
    color: #414042;
    font-size: 18px;
    font-weight: 700; }
    .ab_test_modal .sub_title p {
      margin: 0; }
  .ab_test_modal .info_text {
    color: #9B9B9B;
    font-size: 16px;
    padding: 4px 0 10px;
    line-height: 1.2;
    margin-left: -10px;
    margin-right: -10px; }
    .ab_test_modal .info_text p {
      margin: 0; }
  .ab_test_modal .modal_form {
    border-bottom: 1px solid #9B9B9B;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 12px;
    margin: 0 0 12px; }
    .ab_test_modal .modal_form.error .input_number {
      border: 1px solid #db5c4c;
      border-right: 0;
      color: #db5c4c; }
      @media (max-width: 359px) {
        .ab_test_modal .modal_form.error .input_number {
          border-right: 1px solid #db5c4c; } }
      .ab_test_modal .modal_form.error .input_number::-webkit-input-placeholder {
        color: #db5c4c; }
      .ab_test_modal .modal_form.error .input_number:-moz-placeholder {
        color: #db5c4c; }
      .ab_test_modal .modal_form.error .input_number::-moz-placeholder {
        color: #db5c4c; }
      .ab_test_modal .modal_form.error .input_number:-ms-input-placeholder {
        color: #db5c4c; }
    .ab_test_modal .modal_form.error .modal_btn {
      pointer-events: none; }
    .ab_test_modal .modal_form.error svg path {
      fill: #db5c4c; }
    .ab_test_modal .modal_form svg {
      position: absolute;
      top: 11px;
      left: 12px; }
    .ab_test_modal .modal_form .error_msg {
      color: #DB5C4C;
      font-size: 12px;
      text-align: left;
      margin: 5px 0 0; }
  .ab_test_modal .input_number {
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #9B9B9B;
    border-right: 0;
    color: #777777;
    font-size: 13px;
    width: calc(100% - 144px);
    padding: 0 15px 0 38px;
    outline: none; }
    .ab_test_modal .input_number::-webkit-input-placeholder {
      color: #777777; }
    .ab_test_modal .input_number:-moz-placeholder {
      color: #777777; }
    .ab_test_modal .input_number::-moz-placeholder {
      color: #777777; }
    .ab_test_modal .input_number:-ms-input-placeholder {
      color: #777777; }
    @media (max-width: 359px) {
      .ab_test_modal .input_number {
        border-radius: 5px;
        border-right: 1px solid #9B9B9B;
        padding: 10px 15px 10px 38px;
        width: 100%; } }
  .ab_test_modal .modal_btn {
    color: #fff;
    border-radius: 0px 5px 5px 0px;
    border: 0;
    padding: 12px;
    font-size: 13px;
    font-weight: 700;
    width: 144px; }
    @media (max-width: 359px) {
      .ab_test_modal .modal_btn {
        border-radius: 5px;
        margin: 10px 0 0;
        width: 100%; } }
  .ab_test_modal .show-phone .btn-border {
    margin: 0;
    font-size: 13px;
    padding: 8px 10px;
    width: 100%; }
    @media (min-width: 360px) {
      .ab_test_modal .show-phone .btn-border {
        width: calc(50% - 5px); } }
    .ab_test_modal .show-phone .btn-border + .btn-border {
      margin: 10px 0 0; }
      @media (min-width: 360px) {
        .ab_test_modal .show-phone .btn-border + .btn-border {
          margin: 0 0 0 10px; } }

.thx_wrap {
  padding: 0 0 17px; }

.thx_holder {
  text-align: center; }
  .thx_holder .modal_title {
    padding: 0;
    font-size: 20px; }
  .thx_holder .info_text {
    padding: 4px 0 28px; }

.is-disabled {
  display: none; }

.async-hide {
  opacity: 0 !important; }

.thankyou .react_modal__container {
  max-width: 418px !important; }

.thankyou .react_modal__body {
  padding: 30px 30px 38px; }

.thankyou .phones_modal_wrap {
  padding: 0;
  width: 100%; }

.thankyou .modal_photo-car {
  display: none; }

.hide_modal {
  display: none !important; }
