.lang-fr {
	.page-home {
		.display-block-info {
			display: none;
		}
		.bn-slider {
			.slider-text,
			.btn-bnr {
				@media (min-width: 768px){
					display: none;
				}
			}
			.btn-bnr {
				@media (max-width: 767px){
					// border-color: #eb3a8e;
					font-size: 12px;
				}
			}
		}
		.bn-category {
			display: none;
		}
	}
}

.top-category-slider {
	background-color: #eb3a8e;
	color: #fff;
	margin: 0 0 60px;
	@media (max-width: 767px){
		margin: 0;
	}
	.category-title {
		font-size: 18px;
		font-weight: 600;
	}
	.category-text {
		font-size: 13px;
	}
	.slick-slide {
		padding: 10px 0;
	}
}

.category-slider-title {
	color: #000;
    font-weight: 700;
    margin: 0 0 25px;
    letter-spacing: 1px;
    @media (max-width: 767px){
    	font-size: 22px;
    }
}
.bottom-category-slider {
	@media (max-width: 767px){
		padding-bottom: 25px;
	}
	.slick-slide {
		padding: 0 20px;
		outline: 0;
		@media (max-width: 767px){
			padding: 0 10px;
		}
	}
	a {
		display: block;
		span {
			@media (min-width: 768px){
				display: none;
			}
		}
	}
	.img-category {
		max-width: 100%;
		outline: 0;
	}
}
@media (max-width: 767px){
	.promoblocks-grid{
		display: none;
	}
	.col-items-mob {
		flex-wrap: nowrap;
		max-width: unset;
		margin: 0;
		padding-top: 20px;
		padding-bottom: 20px;
		overflow: auto;
		background: #f5f5f5;
		&:after {
			display: none;
		}
		li{
			padding: 0;
			a{
				white-space: nowrap;
				padding-left: 10px;
				padding-right: 10px;
				color: #323232;
				font-weight: bold;
			}
		}
	}
}