.exit_popup_container {
  position: fixed;
  background: #fff;
  top: calc(50% - 260px);
  left: 0;
  right: 0;
  max-width: 600px;
  overflow: hidden;
  margin: auto;
  z-index: 99999; }
  .exit_popup_container.few_items {
    top: calc(50% - 314px); }
    .exit_popup_container.few_items .modal-item-wrap {
      padding: 0;
      margin: 25px auto 28px;
      border-bottom: 1px solid rgba(92, 92, 92, 0.2); }
    .exit_popup_container.few_items .modal-item {
      height: 90px;
      padding-left: 27px;
      overflow: hidden; }
      .exit_popup_container.few_items .modal-item:first-child {
        margin: -9px 0 0; }
      .exit_popup_container.few_items .modal-item .slide_title_wrap {
        padding: 0 0 0 29px; }
  .exit_popup_container .product-thumbnail__image {
    position: relative;
    margin: 0; }

.exit_popup_container,
.exit_popup_overlay {
  display: none; }

.exit_popup_overlay.active,
.exit_popup_container.active {
  display: block; }

.exit_popup_overlay {
  position: fixed;
  z-index: 99998;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  transition: all ease .4s; }

.exit_popup {
  text-align: center; }
  .exit_popup .modal__body {
    padding: 43px 0 25px; }
  .exit_popup .modal_title {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    color: #2F2F2F;
    padding: 0 18px 12px;
    letter-spacing: 2.2px;
    line-height: 1;
    margin: 0; }
  .exit_popup .modal_subtitle {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #2F2F2F;
    padding: 0 18px;
    letter-spacing: 0;
    line-height: 1.15;
    margin: 0; }
  .exit_popup .modal_slider_wrap {
    margin: 22px 0 0; }
    @media (max-width: 340px) {
      .exit_popup .modal_slider_wrap {
        margin: 15px 0 15px; } }
  .exit_popup .modal_slider .swiper-pagination-bullet {
    height: 5px;
    width: 5px;
    margin: 0 5px; }
  .exit_popup .modal_slider .swiper-pagination-bullet-active {
    background: #5C5C5C; }
  .exit_popup .modal_slider .swiper-slide {
    padding-top: 10px; }
    .exit_popup .modal_slider .swiper-slide > a {
      display: block;
      max-width: 100px;
      margin: 0 auto;
      pointer-events: none; }
    .exit_popup .modal_slider .swiper-slide > .product-thumbnail__image {
      position: relative;
      display: block;
      max-width: 100px;
      margin: 0 auto; }
  .exit_popup .modal_slider .slide_text_holder {
    padding-left: 35px; }
  .exit_popup .modal_slider .slide_title {
    color: #2F2F2F;
    font-size: 21px;
    letter-spacing: 2.3px;
    font-weight: 600;
    margin-bottom: 5px;
    line-height: 1.25; }
  .exit_popup .modal_slider .slide_size {
    color: #5C5C5C;
    font-size: 12px;
    margin-bottom: 5px;
    letter-spacing: 0; }
  .exit_popup .modal_slider .slide_price {
    color: #2F2F2F;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 1.15;
    font-weight: 500;
    padding: 15px 0 0;
    margin: 0;
    text-align: left; }
  .exit_popup .slider_tooltip_box {
    margin: 0 0 15px;
    padding: 12px 10px 12px;
    text-align: center;
    border: 1px solid #000;
    font-weight: 400;
    font-size: 14px;
    transition: opacity 0.25s;
    margin: 0 auto;
    max-width: 470px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.6px;
    line-height: 1.15;
    box-sizing: border-box;
    position: relative;
    color: #fff;
    background-color: #000; }
    .exit_popup .slider_tooltip_box:after, .exit_popup .slider_tooltip_box:before {
      content: '';
      margin-left: -13px;
      position: absolute;
      left: 50%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0px 10px 10px;
      transform: rotate(180deg); }
    .exit_popup .slider_tooltip_box:before {
      bottom: -10px;
      border-color: transparent transparent #000; }
    .exit_popup .slider_tooltip_box:after {
      bottom: -9px;
      border-color: transparent transparent #000; }
  .exit_popup .modal_content {
    border: 2px solid #EBC569;
    position: relative;
    margin: 0 auto;
    max-width: 470px; }
    .exit_popup .modal_content:after {
      content: '';
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEwSURBVHgBpVWLTcNADH1kgoyQDRomACYgG/SYJLdBuwF0AtiAbtAyQcoEsEFrN89Km94nSp/0pNixX+zT2QHCKIVO+CnshEdyR98ykoeHgK8RvvN5I9wLD7QXwkfhE23PmChWrMSzSiQ68IxtY0H64k9YYzpq5qzGLxy/FhNbYziGkKjmNpdOPXiPOD4SgmCuVloWrM6qmAvLbVTwVbgV/mM+NHdjgpXwB/dDr9dCBWsa9+IgrIqJwdrSM/pukihMORPnKfqdiD13qoJ75C+zir1kRFXjVx8ceIeQh8boguhGoiV9SzNU0GMaLkUN7cg+j01q9EKiNmo2ejcrbY35y8HHAjyGlZRbXy1jr0Y2tGAdhh23RX8LbJIqVmXtvQm/MBEO/brfYfgFdPQ5RDo4Aap2TfNCSTqBAAAAAElFTkSuQmCC");
      background-repeat: no-repeat;
      background-color: #fff;
      position: absolute;
      top: -14px;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 28px;
      width: 30px; }
    .exit_popup .modal_content p {
      font-weight: 700;
      font-size: 13px;
      line-height: 1.4;
      letter-spacing: 0;
      color: #2F2F2F;
      padding: 13px 0;
      margin: 0; }
      @media (max-width: 340px) {
        .exit_popup .modal_content p {
          font-size: 12px; } }
  .exit_popup .modal_btn {
    background: #000;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 11px;
    padding: 21px 0;
    display: block;
    width: 100%;
    letter-spacing: 0;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto 44px;
    max-width: 470px;
    line-height: 1;
    letter-spacing: 2px; }

.modal_close {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  right: 1px;
  top: 3px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .modal_close:before, .modal_close:after {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    content: '';
    background-color: #b3b3b3;
    transition: all ease .25s;
    height: 20px;
    width: 1px; }
  .modal_close:before {
    transform: rotate(45deg); }
  .modal_close:after {
    transform: rotate(-45deg); }
  .modal_close:hover:before, .modal_close:hover:after {
    background-color: #000; }

.stop_scroll {
  overflow: hidden !important; }

@media screen and (max-height: 510px) and (orientation: landscape) {
  .exit_popup_container {
    top: 0;
    height: 100%; }
  .exit_popup {
    overflow: scroll;
    height: 100%; }
    .exit_popup .modal_content p {
      font-size: 12px;
      line-height: 1.2; } }

/* Chrome only: */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) and (max-height: 510px) and (orientation: landscape) {
  .exit_popup {
    height: 100%; }
    .exit_popup .modal_content p {
      font-size: 12px;
      line-height: 1.2; } }

.modal-item-wrap {
  overflow-y: auto;
  max-width: 470px;
  padding: 20px 50px 27px;
  margin: 0 auto; }

.modal-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0; }
  .modal-item .item-info-wrap {
    display: flex;
    align-items: center; }
    .modal-item .item-info-wrap img {
      max-height: 216px;
      max-width: 140px; }
  .modal-item a[rv-href] {
    display: inline-block;
    width: 110px; }
  .modal-item .slide_title_wrap {
    text-align: left; }

.hidden-popup {
  display: none !important; }

@media screen and (max-height: 640px) {
  .exit_popup .modal__body {
    padding: 25px 0 15px; }
  .exit_popup .modal_btn {
    margin: 0 auto 24px;
    padding: 20px 0; }
  .exit_popup .modal_slider_wrap {
    margin: 15px 0 0; }
  .exit_popup .modal-item-wrap {
    max-height: 190px; }
  .exit_popup_container.few_items {
    top: calc(50% - 270px); } }
