.wrapper, body, html {
	background: #fff;
}
.checkout-page {
	min-height: 100%;
	&.cloner-section {
		padding: 58px 0;
		.plans__product_luminar {
			.plans__product-prices-wrap_luminar {
				display: none;
				&.active {
					display: flex;
				}
			}
		}
	}
}
.checkout-page .plans__product.active-item .plans__product-indicator {
	border-color: #0062fe;
	background-color: #0062fe;
}
.checkout-page .plans__item.active-item::after, 
.checkout-page .plans__product.active-item .plans__product-indicator svg {
    opacity: 1;
}

.faq-section {
	background: #F1F1F1;
	padding: 65px 0 50px;
	margin: 50px 0 0;
	.faq-title {
		color: #000;
		font-size: 30px;
		font-family: "Graphik LCG",Helvetica,Arial,sans-serif;
		text-align: center;
		margin: 0 0 39px;
	}
	.question-item {
		background: #fff;
		border-radius: 4px;
		margin: 0 0 8px;
		position: relative;
		border: 1px solid transparent;
		&:hover {
			border-color: #000;
		}
	}
	.question-item_title {
		color: #000;
		font-weight: 500;
		font-size: 18px;
		padding: 13px 40px 13px 18px;
		cursor: pointer;
		position: relative;
		transition: all 0.2s;
		// border: 1px solid transparent;
		border-radius: 4px;
		// &:hover {
		// 	border-color: #000;
		// }
		&.faq__active {
			.arrow-ico {
				transform: rotate(180deg);
			}
		}
	}
	.question_desc {
		color: #000;
		font-size: 16px;
		padding: 0 14px 18px;
		display: none;
		a {
			color: #0062fe;
			cursor: pointer;
			font-weight: 500;
		}
	}
	.arrow-ico {
		position: absolute;
		right: 20px;
		top: calc(50% - 5px);
		height: 10px;
		width: 10px;
		transition: all 0.2s;
		&:before,
		&:after {
			content: '';
			background: #686868;
			display: block;
			height: 2px;
			width: 7px;
			border-radius: 4px;
			position: absolute;
			top: 4px;
		}
		&:before {
			transform: rotate(45deg);
			left: -1px;
		}
		&:after {
			transform: rotate(-45deg);
			left: 3px;
		}
	}
	.circle-list {
		list-style-type: disc;
    	padding: 0 0 0 18px;
    	li {
    		margin: 0 0 10px;
    	}
	}
}

.common-trustpilot {
	padding-top: 60px;
	.common-trustpilot__title {
		text-align: center;
	}
}
.trustpilot-wrap {
	overflow: hidden;
	margin-top: 40px;
}

.common-video-free-tutorials {
	background: #E5E5E5;
	margin-top: 60px;
	padding-top: 60px;
	text-align: center;
}
.common-video-free-tutorials__img-wr {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-moz-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin: 0 auto;
	max-width: 750px;
	position: relative;
	img {
		width: 100%;
		border-radius: 5px;
	}
}
.common-video-free-tutorials__btn {
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 2;
	.sk-btn-icon {
		margin-right: 0;
		width: 70px;
		height: 70px;
	}
}
.discover-more {
	-webkit-transition: background-color .3s;
	-o-transition: background-color .3s;
	transition: background-color .3s;
	color: #fff;
	height: 50px;
	font-size: 18px;
	background-color: #009DFF;
	padding: 14px 30px;
	border-radius: 25px;
	font-weight: 400;
	min-width: 260px;
	max-width: 260px;
	line-height: 20px;
	&.active,
	&:hover {
		background-color: #004EC8;
	}
	figure {
		margin-left: 5px;
		padding-top: 2px;
		width: 14px;
		svg {
			width: 100%;
			display: block;
			-webkit-transition: -webkit-transform .25s ease-in-out;
			-o-transition: transform .25s ease-in-out;
			transition: transform .25s ease-in-out;
			transition: transform .25s ease-in-out,-webkit-transform .25s ease-in-out;
			-webkit-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			transform: rotate(90deg);
			&.arrow {
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
		}
	}
}
.common-video-free-tutorials .play-icon svg {
    fill: #fff;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}
.common-video-free-tutorials__btn:hover .play-icon svg {
    fill: #c3c3c3;
}
.common-video-free-tutorials__btn-more-tutorials {
    margin-top: 30px;
    cursor: pointer;
    line-height: 24px;
    display: inline-block;
    text-align: center;
}
.common-video-free-tutorials__btn-more-tutorials figure {
    padding-top: 0;
    padding-bottom: 2px;
	display: inline-block;
	vertical-align: middle;
}
.video-popup__container.mainPopupContainer {
    max-width: 80%;
}




// git
.video-popup__free-tutorials .video-popup__container.mainPopupContainer {
    position: relative;
    padding: 10px;
}
.video-popup__wrap-gallery {
    position: relative;
    height: 100%;
    max-height: 620px;
    overflow: visible;
    padding: 30px 15px;
}
.gallery-video {
    height: 560px;
    overflow-y: auto;
}
.common-video-gallery__item-preview, .common-video-gallery__play span, .tile__top {
    background-repeat: no-repeat;
    background-position: center;
}
.tile__top {
    position: relative;
    width: 100%;
    height: 288px;
    margin-bottom: 48px;
    background-size: cover;
    border-radius: 3px;
    overflow: hidden;
}
.tile_gallery .tile__top {
    height: 204px;
    margin-bottom: 24px;
}
.tile__play, 
.tile__play span {
    position: absolute;
    top: 0;
    left: 0;
}
.tile__top a {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.tile__play {
    z-index: 2;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all .3s;
}
.tile__play span {
    opacity: 0;
    display: block;
    width: 60px;
    height: 60px;
    background-image: url(https://media.macphun.com/img/uploads/uploads/macphun/video-galleries/play-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    right: 0;
    margin: auto;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.bs-ab-slider__fake.reinit {
	width: 1px !important;
}


// baSlider
.bs-ab-slider {
    position: relative;
	height: 370px;
	overflow: hidden;
}
.bs-ab-slider-image, .bs-ab-slider img {
	position: absolute;
    width: 100%;
    top: 0;
}
.bs-ab-slider-image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.ba-slider-before-image{
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.bs-ab-slider-before-image {
    z-index: 5;
    position: relative;
    overflow: hidden;
    height: 100%;
}
.ba-control {
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 10;
    top: 0;
    overflow: hidden;
}
.ba-control-area {
    position:absolute;
    z-index:1;
    width:26px;
    height:100%;
    left:0;
    margin-left:-13px;
}
.ba-control-bar {
    width:2px;
    height: 100%;
    margin: 0 auto;
    background: #fff;
}
.ba-left-arrow, .ba-right-arrow, .ba-control-handle {
    top: 50%;
    position: absolute;
    display: none;
}
.ba-left-arrow, .ba-right-arrow {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    margin-top: -5px;
}
.ba-left-arrow {
    left: -56px;
    display: block;
    top: 0;
}
.ba-left-arrow:after {
	content: "Before";
	background: rgba(255,255,255,.7);
	color: #171717;
}
.ba-right-arrow:after {
	content: "After";
	background-color: #000;
	color: #fff;
}
.ba-left-arrow:after,
.ba-right-arrow:after {
	font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    width: 70px;
    border-radius: 0;
    top: 5px;
    cursor: pointer;
    height: 28px;
    border: 0;
    text-decoration: none;
    user-select: none;
    outline: 0;
    position: absolute;
    left: 0;
    margin: auto;
    padding: 0 10px;
    font-family: Roboto,sans-serif;
    line-height: 30px;
    text-align: center;
}
.ba-right-arrow {
    right: 12px;
    display: block;
    top: 0;
}
.ba-control-handle {
    height: 60px;
    width: 8px;
    margin: -30px 0 0 -4px;
    left: 50%;
    background-color: #f90;
    cursor: move;
}

.pdf-popup {
	.mainPopupContainer {
		max-width: 80%;
		padding: 10px;
	}
}
.pdf-popup__wrap {
	padding: 30px 15px;
	iframe {
		width: 100%;
	    height: 620px;
	}
}