.high-demand-wrap {
	background: #db5c4c14;
	border-radius: 3px;
	color: #414042;
	padding: 10px 17px;
	margin: 0 0 22px;
	.title-holder {
		display: flex;
	}
	p {
		font-size: 16px;
		font-weight: 700;
	}
	.high-demand-link {
		color: #DB5C4C;
		font-size: 13px;
		font-weight: 700;
		padding: 8px 15px;
		border: 1px solid #DB5C4C;
		border-radius: 5px;
		display: block;
	}
}