.high-demand-wrap {
  background: #db5c4c14;
  border-radius: 3px;
  color: #414042;
  padding: 10px 17px 15px;
  margin: 0 0 22px; }
  .high-demand-wrap .title-holder {
    display: flex; }
  .high-demand-wrap .high-demand-text {
    font-size: 16px;
    font-weight: 700;
    margin: 4px 0 7px 11px;
    max-width: 250px;
    line-height: 1.2; }
  .high-demand-wrap .high-demand-link {
    color: #DB5C4C;
    font-size: 13px;
    font-weight: 700;
    padding: 8px 15px;
    border: 1px solid #DB5C4C;
    border-radius: 5px;
    display: block;
    text-align: center; }

.ab_test_modal {
  background: rgba(65, 64, 66, 0.5);
  display: block; }
  .ab_test_modal .react_modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99; }
  .ab_test_modal .react_modal__container {
    width: calc(100% - 28px) !important;
    justify-content: flex-start !important;
    margin: 0 auto;
    top: 15px;
    z-index: 101; }
  .ab_test_modal .react_modal__header {
    font-size: 0;
    z-index: 999;
    background-color: transparent !important; }
  .ab_test_modal .react_modal__close {
    right: 0;
    left: auto;
    font-size: 40px !important;
    padding: 0 !important;
    color: #fff !important;
    line-height: 0.8 !important; }
    .ab_test_modal .react_modal__close:before {
      display: none; }
  .ab_test_modal .react_modal__body {
    background-color: #fff;
    border-radius: 10px;
    padding: 14px 14px 20px;
    z-index: 999; }
    .ab_test_modal .react_modal__body .phones_modal__item {
      margin: 15px 0 0; }
  .ab_test_modal .phones_modal__item {
    text-align: center; }
    .ab_test_modal .phones_modal__item > .mt-10 {
      display: none; }
  .ab_test_modal .be_carefull {
    display: none; }
  .ab_test_modal .modal_title {
    color: #414042;
    font-size: 17px;
    font-weight: 700;
    margin-left: -10px;
    margin-right: -10px;
    padding: 24px 0 11px;
    line-height: 1.2; }
    .ab_test_modal .modal_title p {
      margin: 0; }
  .ab_test_modal .text_devider {
    color: #414042;
    font-size: 16px;
    position: relative;
    padding: 10px 0 9px; }
    .ab_test_modal .text_devider:before, .ab_test_modal .text_devider:after {
      content: '';
      background-color: #9B9B9B;
      height: 1px;
      width: 40px;
      position: absolute;
      top: 20px; }
    .ab_test_modal .text_devider:before {
      left: calc(50% - 73px); }
    .ab_test_modal .text_devider:after {
      right: calc(50% - 73px); }
    .ab_test_modal .text_devider p {
      margin: 0; }
  .ab_test_modal .sub_title {
    color: #414042;
    font-size: 17px;
    font-weight: 700; }
    .ab_test_modal .sub_title p {
      margin: 0; }
  .ab_test_modal .info_text {
    color: #9B9B9B;
    font-size: 16px;
    padding: 4px 0 10px;
    line-height: 1.2; }
    .ab_test_modal .info_text p {
      margin: 0; }
  .ab_test_modal .modal_form {
    border-bottom: 1px solid #9B9B9B;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 12px;
    margin: 0 0 12px;
    position: relative; }
    .ab_test_modal .modal_form.error .input_number {
      border: 1px solid #db5c4c;
      border-right: 0;
      color: #db5c4c; }
      @media (max-width: 359px) {
        .ab_test_modal .modal_form.error .input_number {
          border-right: 1px solid #db5c4c; } }
      .ab_test_modal .modal_form.error .input_number::-webkit-input-placeholder {
        color: #db5c4c; }
      .ab_test_modal .modal_form.error .input_number:-moz-placeholder {
        color: #db5c4c; }
      .ab_test_modal .modal_form.error .input_number::-moz-placeholder {
        color: #db5c4c; }
      .ab_test_modal .modal_form.error .input_number:-ms-input-placeholder {
        color: #db5c4c; }
    .ab_test_modal .modal_form.error .modal_btn {
      pointer-events: none; }
    .ab_test_modal .modal_form.error svg path {
      fill: #db5c4c; }
    .ab_test_modal .modal_form svg {
      position: absolute;
      top: 11px;
      left: 12px; }
    .ab_test_modal .modal_form .error_msg {
      color: #DB5C4C;
      font-size: 12px;
      text-align: left;
      margin: 5px 0 0; }
  .ab_test_modal .input_number {
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #9B9B9B;
    border-right: 0;
    color: #777777;
    font-size: 13px;
    width: calc(100% - 144px);
    padding: 0 15px 0 38px;
    outline: none; }
    .ab_test_modal .input_number::-webkit-input-placeholder {
      color: #777777; }
    .ab_test_modal .input_number:-moz-placeholder {
      color: #777777; }
    .ab_test_modal .input_number::-moz-placeholder {
      color: #777777; }
    .ab_test_modal .input_number:-ms-input-placeholder {
      color: #777777; }
    @media (max-width: 359px) {
      .ab_test_modal .input_number {
        border-radius: 5px;
        border-right: 1px solid #9B9B9B;
        padding: 10px 15px 10px 38px;
        width: 100%; } }
  .ab_test_modal .modal_btn {
    color: #fff;
    border-radius: 0px 5px 5px 0px;
    border: 0;
    padding: 12px;
    font-size: 13px;
    font-weight: 700;
    width: 144px;
    outline: none; }
    @media (max-width: 359px) {
      .ab_test_modal .modal_btn {
        border-radius: 5px;
        margin: 10px 0 0;
        width: 100%; } }
  .ab_test_modal .show-phone .btn-border {
    margin: 0;
    font-size: 13px;
    padding: 8px 10px;
    width: 100%; }
    .ab_test_modal .show-phone .btn-border + .btn-border {
      margin: 10px 0 0; }
      @media (min-width: 360px) {
        .ab_test_modal .show-phone .btn-border + .btn-border {
          margin: 0 0 0 10px; } }
    @media (min-width: 360px) {
      .ab_test_modal .show-phone .btn-border {
        width: calc(50% - 5px); } }

.thx_wrap {
  padding: 0 0 17px; }

.thx_holder {
  text-align: center; }
  .thx_holder .modal_title {
    padding: 16px 0 11px; }
  .thx_holder .info_text {
    padding: 4px 0 28px; }

.is-disabled {
  display: none; }

.pdp_modal_backdrop {
  background: rgba(65, 64, 66, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto; }

.async-hide {
  opacity: 0 !important; }

.hide_modal {
  display: none; }
