.sk-uikit-v2 {
	.after-head {
		.after-head__bg-grad {
			&:after {
				background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.96) 34.08%, rgba(255, 255, 255, 0.12) 100%);
				box-shadow: none;
			}
		}
	}
}
.after-head__head {
	.tone-mapping__slider-wrap {
		& + .row {
			background: rgba(0, 0, 0, 0.26);
		}
	}
	.after-head__title {
		color: #fff;
		font-size: 44px;
	}
}
.tone-mapping__slider-wrap {
	margin-right: -15px;
	margin-left: -15px;
	@media (max-width: 1279px) {
		width: 100%;
	}
	.tone-mapping__slider {
		width: 100%;
		.tone-mapping_slide {
			margin: 0 0px;
			@media (min-width: 960px) {
				width: 900px;
			}
			@media (min-width: 1280px) {
				width: 1200px;
			}
			@media (min-width: 1800px) {
				width: 1560px;
			}
			& > div {
				background-color: transparent;
			}
		}
	}
	.arrows-wrap {
		.arrow {
			&.prev,
			&.next {
				background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjQ5IiB2aWV3Qm94PSIwIDAgNDkgNDkiIHdpZHRoPSI0OSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtMjQuNSA0N2MxMi40MjY0MDY5IDAgMjIuNS0xMC4wNzM1OTMxIDIyLjUtMjIuNXMtMTAuMDczNTkzMS0yMi41LTIyLjUtMjIuNS0yMi41IDEwLjA3MzU5MzEtMjIuNSAyMi41IDEwLjA3MzU5MzEgMjIuNSAyMi41IDIyLjV6bTAgMmMtMTMuNTMwOTc2NCAwLTI0LjUtMTAuOTY5MDIzNi0yNC41LTI0LjVzMTAuOTY5MDIzNi0yNC41IDI0LjUtMjQuNSAyNC41IDEwLjk2OTAyMzYgMjQuNSAyNC41LTEwLjk2OTAyMzYgMjQuNS0yNC41IDI0LjV6bS02LjYxNjYxMzEtMjMgNS42MTY2MTMxIDUuNTcyMTc2Ny0xLjQzNzcwNjEgMS40Mjc4MjMzLTguMDYyMjkzOS04IDguMDYyMjkzOS04IDEuNDM3NzA2MSAxLjQyNzgyMzMtNS42MTY2MTMxIDUuNTcyMTc2N2gxNy4xMTY2MTMxdjJ6IiBmaWxsPSIjMDAwIi8+PC9zdmc+") center no-repeat;
			}
			&.prev {
				left: -100px;
			}
			&.next {
				right: -100px;
			}
		}
	}
}

.tone-mapping_slide-front {
	.img-wrap {
		justify-content: flex-start;
		margin-left: -10px;
		margin-right: -10px;
		.sign,
		.tone-mapping_slide-result-btns {
			display: none;
		}
		figure {
			margin: 0 10px;
			width: 250px;
		}
		.img-result {
			width: 35%;
		}
	}
	.sk-h4_type_clean,
	.create-hdr {
		display: none;
	}
}
.tone-mapping_slide {
	background-color: transparent;
	.tone-mapping_slide-result {
		display: none;
	}
	&.show-load {
		.tone-mapping_slide-load {
			display: none;
		}
	}
	.tone-mapping_slide-load {
		display: none;
	}
	.img-result {
		width: 380px;
	}
}

